:root{
    --primary:hsl(0, 0%, 15%);
    --secondary:hsl(0, 0%, 5%);
    --accent: #1D9E75;
    --outline:hsl(0, 0%, 30%);
}

body{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    padding: 1em;
}

.navbar{
    width: calc(100% - 3em);
    height: 2em;
    display: flex;
    justify-content: space-between;
    font-family: century gothic;
    color: white;
    font-size: 1.1em;
    border-bottom: 2px solid var(--outline);
    align-items: center;
    margin: 0.5em 1em 0.5em 1em;
    background-color: var(--primary);
}

.clientHead{
    width: calc(100% - 3em);
    height: 5em;
    display: flex;
    flex-direction: column;
    font-family: century gothic;
    color: white;
    font-size: 1.1em;
    border-bottom: 2px solid var(--outline);
    align-items: left;
    margin: 0.5em 1em 0.5em 1em;
    background-color: var(--primary);
    gap: 1em;
}

.clientdata{
    padding: 0;
    margin: 0;
}

.navisland{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.icon{
    aspect-ratio: 1/1;
    height: 2em;
}

.navlink:hover{
    background-color: var(--outline);
}

.banner{
    height: calc(100vh - 6em);
    width: 100%;
    background-image: url(Assets/zzz.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
    margin: 1em 0 0 0;
    border-top: 2px solid var(--outline);
    padding: 1em;
    color: white;

}

.dark{
    background-color: var(--secondary);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(4, 20em);
    gap: 1em;
}

.blocks{
    outline: 2px solid var(--outline);
    background-color: var(--primary);
    padding: 4em;
    font: 2em;
    border-radius: 1em;
    font-family: century gothic;
}

.catalogueBlocks{
    outline: 2px solid var(--outline);
    background-color: var(--primary);
    padding: 2em;
    font: 2em;
    border-radius: 1em;
    font-family: century gothic;
}

.catalogue{
    overflow: hidden;
}

.shopItemPic{
    aspect-ratio: 1/1;
    height: auto;
    width: 100%;
    border-radius: 1em;
}

.shopItem{
    font-weight: bolder;
}

